
    <footer class="footer text-primary bg-dark p-4">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#" class="text-info text-decoration-none">Vuelve arriba</a>
            </p>
            <p class="mb-1">Created by Ana & Silvia, with <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
            </p>
        </div>
    </footer>
