<footer class="text-muted py-5 bg-transparent">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#" class="text-info">Vuelve arriba</a>
        </p>
        <p class="mb-1">
            Created by Ana & Silvia, with love
        </p>
    </div>
</footer>