<footer class="footer footer-expand-lg text-muted bg-dark p-4">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#" class="text-info text-decoration-none">Vuelve arriba</a>
        </p>
        <p class="mb-1">
          Created by Ana & Silvia, with love.
        </p>
    </div>
</footer>
