
    <footer class="footer text-warning bg-dark p-2">
        <div class="container">
            <p class="float-end mt-2">
                <a href="#" class="text-info text-decoration-none">Vuelve arriba<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-capslock-fill m-1" viewBox="0 0 16 16">
  <path d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1z"/>
</svg></a>
            </p>
            <p class="mb-1"><img src="../images/minilogo.png" class="img-thumbnail bg-transparent border-0 mt-1" alt="logo image">  Created by Ana & Silvia with <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> , 2021
            </p>
        </div>
    </footer>
