<h1>Anthill</h1>
<div>
    <p>
        Anthill es una comunidad de servicios, en la que se pretende crear un intercambio de habilidades a cambio de puntos.
        Estos puntos se consiguen al haber realizado algún servicio a la comunidad, y a partir de ahí ya se pueden solicitar otros servicios.
        Disponemos de una tabla de puntos en la cual puedes basarte para valorar tus servicios.
        Cada participante de la comunidad pone en valor sus habilidades, las cuales puedes aceptar o llegar a un acuerdo con el ofertante del servicio.
        Siempre bajo un estricto código de respeto y cordialidad entre los participantes. Y así crear una gran comunidad de hormiguitas, en la que todas somos iguales.
    </p>
</div>