
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-4">
            <div class="col-lg-6 col-md-5 mx-auto">
                <img src="images/logo.png" class="img-thumbnail bg-transparent border-0 mb-3" alt="logo image">
                <h3 class="fw-lighter text-info">Comparte tus habilidades</h3>
                <p class="lead text-muted mt-5">
                    Anthill es una comunidad de servicios, en la que se pretende crear un intercambio de habilidades a cambio de puntos.
                    Disponemos de una tabla de puntos en la cual puedes basarte para valorar tus servicios.<br>
                    Cada participante de la comunidad pone en valor sus habilidades, las cuales puedes aceptar o llegar a un acuerdo con el ofertante del servicio.
                    Siempre bajo un estricto código de respeto y cordialidad entre los participantes. Y así crear una gran comunidad de hormiguitas, en la que todas somos iguales.
                </p>
            </div>
        </div>
    </section>
</main>
