<form method="POST" action="/login" class="col-lg-6 col-md-8 mx-auto">
  <img src="../public/images/logo.png" class="img-thumbnail" alt="logo image">
  <h1 class="fw-normal text-warning">Login</h1>
  <div class="mb-3">
    <label class="form-label">Email de usuario</label>
    <input name="email" value="{{ user.email }}" type="email" class="form-control {{#if errors.email }}is-invalid{{/if}}" aria-describedby="emailHelp">
    {{#if errors.email }}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
  </div>
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input name="password" type="password" class="form-control {{#if errors.password }}is-invalid{{/if}}">
    {{#if errors.password }}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
  </div>
  <button type="submit" class="btn btn-primary bg-warning border-warning">Entrar</button>
</form>

{{!-- <main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div  class="col-lg-6 col-md-8 mx-auto">
                <img src="../public/images/logo.png" class="img-thumbnail" alt="logo image">
                <h1 class="fw-normal text-warning">Anthill</h1>
                <h3 class="fw-lighter text-info">Comparte tus habilidades</h3>
                <p class="lead text-muted mt-4">
                    Anthill es una comunidad de servicios, en la que se pretende crear un intercambio de habilidades a cambio de puntos.
        Disponemos de una tabla de puntos en la cual puedes basarte para valorar tus servicios.<br>
        Cada participante de la comunidad pone en valor sus habilidades, las cuales puedes aceptar o llegar a un acuerdo con el ofertante del servicio.
        Siempre bajo un estricto código de respeto y cordialidad entre los participantes. Y así crear una gran comunidad de hormiguitas, en la que todas somos iguales.
                </p>
            </div>
        </div>
    </section>
</main> --}}