<div class="padding">
    <div class="row container d-flex justify-content-center">
        <div class="col-md-8"> 
            <div class="d-flex justify-content-start align-items-center pb-5">
                <img src="../images/logo.png" alt="logo Anthill" class="float-start md-2 pb-2">
                <h2 class="font-weight-bold fw-normal text-warning p-3 pb-3">Ideas para ofertar, y equivalencias que te pueden ayudar
                    a poner un precio</h2>
            </div>
            <p class="text-secondary mb-4 mt-3">Desde el equipo te ayudamos a saber qué valor poner a tu servicio.
                Y aunque no nos guste hablar de dinero en esta comunidad, te damos una equivalencia en Euros aproximada. 1 AntCoin
                equivale a 3€</p>
            <hr>
            <p class="text-secondary mb-4 mt-3">Además, te damos otros ejemplos para poder guiarte, pues sabemos que muchos de
                vosotros
                no trabajáis de forma profesional con los servicios que ofrecéis</p>
            <p class="text-secondary mb-4 mt-3">No queremos menospreciar la profesionalidad en esta comunidad ni reemplazar los
                trabajos profesionales por
                servicios ofertados en AntHill. Asi pues, una persona sin especialización nutricionista, no podrá ofertar un
                tratamiento dietético.
            </p>

            <hr class="my-5">
            <div class="mb-3" style="max-width: 740px;">
                <div class="row g-0">
                    <div class="card mb-4 order-list">
                        <div class="gold-members p-4">
                            <h5 class="mb-3 text-info">Cocinas muy bien, te encanta, y vives cerca de unas oficinas</h5>
                            <div class="media">

                                <div class="media-body">
                                    <p class="text-secondary mb-2 mt-3">Mucha gente de oficinas tienen el horario partido, y están
                                        hartas de comer de menú en restaurantes en los que siempre
                                        hay patatas fritas de guarnición. Aquí puedes ofrecer tu deliciosa comida. Ten en cuenta que
                                        en el precio deberá ir incluido el coste de los productos.
                                    </p>
                                    <hr>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span
                                            class="text-black font-weight-bold">Precio: 2</span> AntCoins/plato
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3" style="max-width: 740px;">
                <div class="row g-0">

                    <div class="bg-white card mb-4 order-list shadow-sm">
                        <div class="gold-members p-4">
                            <h5 class="mb-3 text-info">Pasear perro, cuidado de animales domésticos</h5>
                            <div class="media"> 
                                <div class="media-body">
                                    <p class="text-secondary mb-2 mt-3">Pasear a un perro puede estar en 1 antCoin, si eres amante
                                        de los perros, y te supone de todo menos una carga. Pero el valor siempre lo eliges tú.
                                        Otro caso que podemos escontrarnos es el cuidado, por ejemplo, de un gato durante un
                                        periodo de tiempo
                                        en el que el dueño esté ausente. Si eres amante de los gatos y te llevas a tu casa uno
                                        durante un semana, puedes
                                        poner un precio de 10antCoins
                                    </p>
                                    <hr>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span class="text-black font-weight-bold">Precio: x </span> AntCoins
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3" style="max-width: 740px;">
                <div class="row g-0">

                    <div class="bg-white card mb-4 order-list shadow-sm">
                        <div class="gold-members p-4">
                            <h5 class="mb-3 text-info"> No sólo puedes ofrecer servicios manuales:</h5>
                            <div class="media">

                                <div class="media-body">
                                    <p class="text-secondary mb-2 mt-3">No se te ocurre qué habilidades puedes ofrecer a la
                                        comunidad. A veces el servicio no requiere
                                        de un trabajo personal. Tu furgoneta de trabajo los fines de semana está parada, déjasela a
                                        alguien que este a punto de hacer una mudanza. O presta la pistola de pintar paredes que
                                        tienes en el garaje.
                                        O el solar que heredaste y lo tienes muerto de risa , préstalo al padre que quiere hacer un
                                        picnic y una gymkana por el cumpleaños de su hija.
                                    </p>
                                    <hr>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span
                                            class="text-black font-weight-bold">Alquilar furgoneta. Precio: 7 AntCoins/día</span>
                                    </p>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span
                                            class="text-black font-weight-bold">Alquilar máquina. Precio: 4 AntCoins/día</span> </p>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span
                                            class="text-black font-weight-bold">Alquilar terreno, local... Precio: 15
                                            AntCoins/día</span> </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3" style="max-width: 740px;">
                <div class="row g-0">

                    <div class="bg-white card mb-4 order-list shadow-sm">
                        <div class="gold-members p-4">
                            <h5 class="mb-3 text-info">Clases particulares para alumnos de primaria y la ESO. Por hora.</h5>
                            <div class="media">

                                <div class="media-body">
                                    <p class="text-secondary mb-2 mt-3"></p>
                                    <hr>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span
                                            class="text-black font-weight-bold">Precio: 3</span> AntCoins
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3" style="max-width: 740px;">
                <div class="row g-0">

                    <div class="bg-white card mb-4 order-list shadow-sm">
                        <div class="gold-members p-4">
                            <h5 class="mb-3 text-info">Clases particulares de materias superiores</h5>
                            <div class="media">

                                <div class="media-body">
                                    <p class="text-secondary mb-2 mt-3">Clases de idiomas de niveles altos B2, C1... ,
                                        clases de informática, física, biología, derecho, economía...</p>
                                    <hr>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span
                                            class="text-black font-weight-bold">Precio: 5</span> AntCoins
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5" style="max-width: 740px;">
                <div class="row g-0">

                    <div class="bg-white card mb-5 order-list shadow-sm">
                        <div class="gold-members p-4">
                            <h5 class="mb-3 text-info">Recados a personas depedientes</h5>
                            <div class="media">

                                <div class="media-body">
                                    <p class="text-secondary mb-2 mt-3">Este tipo de ayudas puede ser muy amplio y de diferente
                                        dificultad. Podemos aplicar servicios como acercar a una persona dependiente a un centro de
                                        salud,
                                        encargarnos de realizar la compra a esta persona...</p>
                                    <hr>
                                    <p class="mb-0 text-black text-info pt-2 fw-bo"><span
                                            class="text-black font-weight-bold">Precio: 3</span> AntCoins/hora
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>