
<form action="/service/new" method="post" class="col-md-8 mx-auto">
    <div class="d-flex justify-content-start align-items-center pb-5">
        <img src="../images/logo.png" alt="logo Anthill" class="float-start md-2 pb-2">
        <h2 class="font-weight-bold fw-normal text-warning p-3 pb-3">Añadir servicio</h2>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example1">Servicio</label>
                <input type="text" id="form6Example1" class="form-control" name="title" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example2">Precio AntCoins</label>
                <input type="text" id="form6Example2" class="form-control" name="antCoins" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form6Example2"></label>
                <a class="nav-link active mx-2 text-info" href="/conversorAntCoins">¿No sabes qué puedes ofrecer a la comunidad? , ¿no sabes qué precio poner?</a>
            </div>
        </div>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">Descripción</label>
        <textarea type="text" class="form-control" name="description"></textarea>
    </div>
    <hr>
    <div class="form-outline mb-4">
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example2">Usuario</label>
                    <h6 class="text-muted f-w-400">{{ currentUser.nickname }}</h6>

                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example2">Número de contacto</label>
                    <h6 class="text-muted f-w-400">{{ currentUser.phoneNumber }}</h6>

                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example2">email</label>
                    <h6 class="text-muted f-w-400">{{ currentUser.email }}</h6>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-warning text-white btn-block mb-5">Añadir Servicio</button>
    </div>
</form>